<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "user/devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :unique_id %>
    <% if @minimum_unique_id_length and @maximum_unique_id_length %>
      <em>(<%= @minimum_unique_id_length %> ~ <%= @maximum_unique_id_length %>文字の半角英数またはアンダースコア)</em>
    <% end %> <br>
    <%= f.text_field :unique_id, autofocus: true, autocomplete: "id" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "user/devise/shared/links" %>
