<div class="px-6">
  <div class="pt-4">
    <p>ボード</p>
    <div class="p-3 rounded bg-gray-300">
      <ul class="flex overflow-x-auto space-x-4">
        <% @boards.each do |board| %>
          <li>
            <%= link_to(board, class: "block h-24 min-w-[15rem] p-2 rounded-md border border-green-600 bg-green-400") do %>
              <p><%= board.name %></p>
              <p class="text-sm text-gray-600"><%= board.workspace.name %></p> 
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="pt-4">
    <p>ワークスペース</p>
    <div class="p-3 rounded bg-gray-300">
      <ul class="flex overflow-x-auto space-x-4">
        <% @workspaces.each do |workspace| %>
          <li><%= link_to workspace.name, workspace, class: "block h-24 min-w-[15rem] p-2 rounded-md border border-green-600 bg-green-400" %></li>
        <% end %>
      </ul>
    </div>
    <p><%= link_to "ワークスペースを作成", new_workspace_path %></p>
    <p><%= link_to "ワークスペースへの招待一覧", workspace_join_request_index_path %></p>
  </div>
</div>
