<div class="container mx-auto">
  <div class="mt-4">
    <h3 class="font-bold">ボード</h3>
    <div class="mt-1 p-2 rounded bg-gray-300 shadow shadow-gray-500">
      <ul class="flex overflow-x-auto space-x-4">
        <% @boards.each do |board| %>
          <li class="h-24 mx-1 my-2 rounded-md border border-gray-600 shadow-md shadow-gray-400 hover:shadow-gray-600" style="background-color: <%= board.color %>;">
            <%= link_to board, class: "group block h-full min-w-[15rem] p-2" do %>
              <p class="font-bold text-white group-hover:underline"><%= board.name %></p>
              <p class="text-sm"><%= board.workspace.name %></p> 
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="mt-4">
    <h3 class="font-bold">ワークスペース</h3>
    <div class="mt-1 p-2 rounded bg-gray-300 shadow shadow-gray-500">
      <ul class="flex overflow-x-auto space-x-4">
        <% @workspaces.each do |workspace| %>
          <li class="h-24 mx-1 my-2 rounded-md border border-gray-600 shadow-md shadow-gray-400 hover:shadow-gray-600" style="background-color: <%= workspace.color %>;">
            <%= link_to workspace, class: "group block h-full min-w-[15rem] p-2" do %>
              <p class="font-bold text-white group-hover:underline"><%= workspace.name %></p>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <p class="m-2 text-right underline"><%= link_to "ワークスペースを作成", new_workspace_path %></p>
    <p class="m-2 text-right underline"><%= link_to "ワークスペースへの招待一覧", workspace_join_request_index_path %></p>
  </div>
</div>
