<h1>Workspaces#show</h1>
<p>ワークスペース名：<%= @workspace.name %></p>
<%= link_to "ワークスペース削除", @workspace, method: :delete %>

<p>ボード</p>
<% @boards.each do |board| %>
  <p><%= link_to board.name, board %></p>
<% end %>
<p><%= link_to "ボード追加", new_workspace_boards_path(@workspace) %></p>

<p>ユーザー</p>
<% @users.each do |user| %>
  <p><%= user.email %></p>
<% end %>
<% if @users.include?(current_user) %>
  <p><%= link_to "ユーザーを招待", new_workspace_workspace_users_path(@workspace) %></p>
  <p><%= link_to "ワークスペースから退出", workspace_workspace_users_path(@workspace, user: current_user.id), method: :delete %></p>
<% end %>
