<div class="container mx-auto">
  <h2 class="my-8 text-center text-3xl font-bold"><%= @workspace.name %></h2>

  <div>
    <h3 class="font-bold">ボード</h3>
    <div class="mt-1 p-3 rounded bg-gray-300 shadow shadow-gray-500">
      <ul class="flex overflow-x-auto space-x-4">
        <% @boards.each do |board| %>
          <li class="h-24 rounded-md border border-gray-600" style="background-color: <%= board.color %>;">
            <%= link_to board, class: "group block h-full min-w-[15rem] p-2" do %>
              <p class="font-bold text-white group-hover:underline"><%= board.name %></p>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <p class="m-2 text-right underline"><%= link_to "ボード追加", new_workspace_boards_path(@workspace) %></p>
  </div>

  <div class="mt-4">
    <h3>
      <i class="fa-solid fa-user-group"></i>
      メンバー
    </h3>
    <% @users.each do |user| %>
      <p><%= user.unique_id %></p>
    <% end %>
    <% if @users.include?(current_user) %>
      <p class="underline"><%= link_to "ユーザー招待", new_workspace_join_request_path(@workspace) %></p>
      <p class="underline"><%= link_to "ワークスペースから退出", workspace_workspace_users_path(@workspace, user: current_user.id), method: :delete, data: {confirm: "本当にワークスペースから退出してよろしいですか？"} %></p>
    <% end %>
  </div>
  <p class="underline"><%= link_to "ワークスペース削除", @workspace, method: :delete, data: {confirm: "本当にワークスペースを削除しますか？"} %></p>
</div>
