<h1>Boards#show</h1>
<p>ボード名：<%= @board.name %></p>

<% if @task_lists.exists? %>
  <ul>
    <% @task_lists.each do |task_list| %>
      <li>リスト：<%= task_list.name %>
        <%= link_to "削除", board_task_list_path(@board, task_list), method: :delete, data: {confirm: "本当にリストを削除しますか？"} %>
        <% if task_list.tasks.exists? %>
          <ul>
            <% task_list.tasks.each do |task| %>
              <li><%= task.title %></li>
            <% end %>
          </ul>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
<p><%= link_to "リストを追加", new_board_task_list_path(@board) %></p>

<p>ユーザー</p>
<% if @users.exists? %>
  <ul>
    <% @users.each do |user| %>
      <li><%= user.unique_id %></li>
    <% end %>
  </ul>
<% end %>
<% if @users.include?(current_user) %>
  <p><%= link_to "ボードから退出", board_board_users_path(@board), method: :delete, data: {confirm: "本当にボードから退出しますか？"} %></p>
<% else %>
  <p><%= link_to "参加", board_board_users_path(@board), method: :post %></p>
<% end %>

<%= link_to "削除", @board, method: :delete, data: {confirm: "本当にボードを削除しますか？"} %>
